---
env:
  browser: true
  es6: true
  mocha: true
  node: true
extends: "eslint:recommended"
parserOptions:
  sourceType: module
plugins:
  - fp
root: true
rules:
  arrow-spacing:
    - error
    -
      after: true
      before: true
  comma-dangle:
    - error
    - never
  fp/no-arguments: error
  fp/no-class: error
  fp/no-delete: error
  fp/no-events: error
  fp/no-get-set: error
  fp/no-let: error
  fp/no-loops: error
  fp/no-mutating-methods: error
  fp/no-proxy: error
  fp/no-rest-parameters: error
  fp/no-valueof-field: error
  indent:
    - error
    - 2
  no-duplicate-imports:
    - error
    -
      includeExports: true
  no-useless-computed-key: error
  no-useless-rename: error
  no-var: error
  prefer-const: error
  prefer-rest-params: warn
  prefer-template: warn
  quotes:
    - error
    - single
  rest-spread-spacing:
    - warn
    - never
  semi:
    - error
    - never
  sort-imports: warn
  space-before-function-paren:
    - error
    - never
  space-in-parens:
    - error
    - never
  template-curly-spacing:
    - warn
    - never
  valid-jsdoc:
    - warn
    -
      preferType:
        Boolean: boolean
        Number: number
        String: string
        array: Array
        function: Function
        object: Object
